@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-gray-900;
  }

  .font-serif {
    font-family: 'Playfair Display', serif;
  }

  .font-sans {
    font-family: 'Inter', sans-serif;
  }
}
